<<<<<<< HEAD
/* if img doesn't show up turn off night eye app
without background-size:cover the image wouldn't fit properly
*/
=======
>>>>>>> 068d5d9d6025fef4fa8d795b9950715b99ddaf51
body {
  margin: 0;
  background-image: url("images/remote.jpg");
  background-size: cover;
<<<<<<< HEAD
}

nav {
  /* The 0 left- right lets the nav touch the edges 
  50 px top lets the nav come a little down from the top
  0 bottom bc it's not needed
  */
  padding: 50px 0 0;
=======
  /* padding-top: 10px; */
}

nav {
  padding: 50px 0;
  min-width: 500px;
>>>>>>> 068d5d9d6025fef4fa8d795b9950715b99ddaf51
  text-align: center;
}

nav ul {
<<<<<<< HEAD
  /*  X, Y, blur, spread radius, and color. */
  box-shadow: 0 0 30px 10px white, inset 0 0 21px white;
}

nav ul li {
  /* without this property it stacks one on top the other and the disc list shows up,*/
=======
  background: linear-gradient
    (
      90deg,
      grey 0%,
      white 25%,
      white 75%,
      grey 100%
        /* rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.2) 25%,
      rgba(255, 255, 255, 0.2) 75%,
      rgba(255, 255, 255, 0) 100% */
    );
  box-shadow: 0 0 25px white, inset 0 0 21px white;
  /* box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6); */
}

nav ul li {
>>>>>>> 068d5d9d6025fef4fa8d795b9950715b99ddaf51
  display: inline-block;
}

nav ul li a {
<<<<<<< HEAD
  /* to separate the nav links from each other */
  padding: 50px;
  color: #ffffff;
  font-size: 35px;
  font-family: Arial, sans-serif;
  text-decoration: none;
  letter-spacing: 5px;
=======
  padding: 10px;
  color: #ffffff;
  font-size: 25px;
  font-family: Arial;
  /* font-weight: bold; */
  text-decoration: none;
  display: block;
  letter-spacing: 10px;
>>>>>>> 068d5d9d6025fef4fa8d795b9950715b99ddaf51
}
